<div class="task-background">
  <%= image_tag "new-background1.jpg" %>
    <!-- <iframe src="https://www.youtube.com/embed/FTRqIpCko0U?autoplay=1" frameborder="0" allowfullscreen></iframe> -->
</div>
<br>
<div class="runner">
    <%= image_tag "runner-edit.png" %>
</div>

<!-- <div>Your Score: <%= @current_user.score %></div> -->


Tasks Index


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% @tasks.each do |task| %>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading<%=task.id%>">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=task.id%>" aria-expanded="false" aria-controls="collapse<%=task.id%>">
                    <%= task.name %>
                    <div id='points-heading'><%= task.points %>
                        Points
                        <% if task.submissions.where(user: current_user).empty? %>
                            <span class='glyphicon glyphicon-unchecked'></span>
                        <% else %>
                            <span class='glyphicon glyphicon-check'></span>
                        <% end %>
                    </div>
                </a>
            </h4>
        </div>
    </div>

    <div id="collapse<%=task.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=task.id%>">
        <div class="panel-body">

            <%= task.description %>
            <%= form_for([task, task.submissions.build]) do |f| %>
            <div class="field" id="dropdown-heading">
                <% if task.submissions.where(user: current_user).empty? %>
                    <%= f.text_field :answer %>
                    <%= f.submit "I know this!" %>
                <% end %>
            </div>
            <% end %>

        </div>
    </div>

    <%end%>

</div>

<div class="modal-footer">
        <button type="button" class="btn btn-default"><%= link_to "I'm done! ...for now", user_path(current_user.id) %></button>
      </div>
