  <!-- Background image -->
<div class="museum-image">
  <%= image_tag "new-background1.jpg" %>
</div>

<div class="mission-slide">
  <%= image_tag "mission.png" %>
</div>


<!-- Supergeek challenge logo -->
<div class="challenge-logo">
  <%= image_tag "tsngChallenge.png" %>
</div>


<!-- Large button group -->

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-fullscreen">
  Enter
</button>

<div class="modal modal-fullscreen fade" id="modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Quick Start</h4>
      </div>
      <div class="modal-body">

      <%= form_for current_user do |f| %>

        <fieldset id='fs-username'>
          <h2 class="fs-title">Your Profile</h2>
            <h3 class="fs-subtitle" id='icon-select'>What do you want to call yourself for this mission? You don't have to use your real name.</h3>

              <%= f.text_field :username, value: "" %>

        </fieldset>

        <fieldset>
          <h2 class="fs-title">Choose your avatar</h2>
            <div class='container'>
              <%= f.label :icon_boy, 'boy' do %>
                <%= image_tag "https://cdn0.iconfinder.com/data/icons/avatar-2/500/boy-128.png" %>
              <%end%>
              <%= f.radio_button :icon, 'boy'  %>

              <%= f.label :icon_girl do %>
                <%= image_tag "http://image.flaticon.com/icons/png/128/62/62806.png" %>
              <%end%>
              <%= f.radio_button :icon, 'girl' %>
            </div>
        </fieldset>

        <fieldset id='fs-submit'>
          <h2 class="fs-title">Ready?</h2>

          <%= f.submit %>

        </fieldset>

      <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default"><%= link_to 'Skip', tasks_path %></button>
      </div>
    </div>
  </div>
</div>
