  <!-- Background image -->
<div class="museum-image">
  <%= image_tag "new-background1.jpg" %>
</div>

<div class="museum-image-1">
  <%= image_tag "new-background.jpg" %>
</div>

<div class="mission-slide">
  <%= image_tag "mission.png" %>
  <div class="background-mission-slide"></div>
</div>

<!-- Supergeek challenge logo -->
<div class="challenge-logo">
  <%= image_tag "tsngChallenge.png" %>
</div>


<!-- Large button group -->

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-fullscreen">
  Sign Up
</button>

<button type="button" class="btn btn-primary btn-lg" onclick="location.href='tasks#index'">
  Quick Start!
</button>

<div class="modal modal-fullscreen fade" id="modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">

      <%= form_for current_user do |f| %>

        <fieldset id='fs-username'>
          <h2 class="fs-title">Your Profile</h2>
            <h3 class="fs-subtitle" id='icon-select'>What do you want to call yourself for this mission? You don't have to use your real name.</h3>

              <%= f.text_field :username, value: "" %>

              <input type="button" name="next" class="next action-button btn btn-default" value="Next" />

        </fieldset>

        <fieldset id='fs-icon'>
          <h2 class="fs-title">Choose your avatar</h2>
            <div class='container'>
              <%= f.label :icon_boy, 'boy' do %>
                <%= image_tag "icon_boy.png", id:'icon' %>
              <%end%>
              <%= f.label :icon_girl, 'girl' do %>
                <%= image_tag "icon_girl.png", id: 'icon' %>
              <%end%>

              <br>
  
              <%= f.radio_button :icon, 'boy'  %>
              <%= f.radio_button :icon, 'girl', value: 'girl' %>

            </div>
            
            <input type="button" name="previous" class="previous action-button btn btn-default" id='icon-action' value="Previous" />
            <input type="button" name="next" class="next action-button btn btn-default" id='icon-action' value="Next" />

        </fieldset>

        <fieldset id='fs-submit'>
          <h2 class="fs-title">Ready?</h2>

          <input type="button" name="previous" class="previous action-button btn btn-default" id='icon-submit' value="Previous" />
          <%= f.submit "Let's Go!", class: 'btn btn-default', id: 'icon-submit' %>

        </fieldset>

      <% end %>
      

       <button type="button" class="btn btn-default" onclick="location.href='tasks#index'">Skip</button>

      </div>
    </div>
  </div>
</div>
