<!DOCTYPE html>
<html data-turbolinks='false'>
  <head>
    <title>The Next Super Geek</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>


<div class="hamburger-container">
  <div>
    <div class="nav-logo">
      <%= image_tag "tsngChallenge.png" %>
    </div>
    <div class='score-container'>
      <%= current_user.score %>
    </div>
    <div class='icon-top'>
      <% if current_user.icon == 'boy' && current_user.score != nil %>
        <%= image_tag 'https://cdn0.iconfinder.com/data/icons/avatar-2/500/boy-128.png' %>
      <% elsif current_user.icon == 'girl' && current_user.score != nil %>
        <%= image_tag('http://image.flaticon.com/icons/png/128/62/62806.png', size: "80x80") %>
      <% end %>
    </div>
    <div class='username-container'>
      <% if current_user.score != nil %>
        <%= current_user.username %>
      <% end %>
    </div>

  </div>
  <aside class="sidebar">
    <nav class="side-menu-content">
      <ul class="side-menu" data-turbolinks="false">
        <li><%= link_to "LEADERBOARD", users_url %></li>
        <li><%= link_to "THE MISSION", tasks_url %></li>
        <li><%= link_to "ABOUT US" %></li>
      </ul>
    </nav>
  </aside>

  <a id="nav-toggle" href="#"><span data-turbolinks='false'></span></a>
</div>

   </div>

    <div class="notification">
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>


    <%= yield %>

    <footer>
      <div class="footer">
        <hr>
        &copy;&nbsp;2016 NextSuperGeek
      </div>
    </footer>
    


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
              <p id="notice"><%= flash[:notice] %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div><!---modal-->

  </body>
</html>
