<!DOCTYPE html>
<html>
  <head>
    <title>The Next Super Geek</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>


<div class="hamburger-container">
  <aside class="sidebar">
    <nav>
      <ul class="side-menu">
        <li>Item 001</li>
        <li>Item 002</li>
        <li>Item 003</li>
        <li>Item 004</li>
        <li>Item 005</li>
      </ul>
    </nav>
  </aside>

  <a id="nav-toggle" href="#"><span></span></a>
</div>

   </div>

    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>


    <%= yield %>
<br>
    <footer>
      <div class="footer">
        &copy;&nbsp;2016 NextSuperGeek
      </div>
    </footer>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
              <p id="notice"><%= flash[:notice] %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div><!---modal-->

  </body>
</html>
