<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>


<div class="hamburger-container">
  <aside class="sidebar">
    <nav class="side-menu-content">
      <ul class="side-menu">
        <li>Item 001</li>
        <li>Item 002</li>
        <li>Item 003</li>
        <li>Item 004</li>
        <li>Item 005</li>
      </ul>
    </nav>
  </aside>

  <a id="nav-toggle" href="#"><span></span></a>
</div>

   </div>

    <div class="notification">
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>


    <%= yield %>
<br>
    <footer>
      <!-- <%= link_to "New Task", new_task_path %> -->
      <div class="footer">
        &copy;&nbsp;2016 NextSuperGeek
      </div>
    </footer>

  </body>
</html>
